{
  "machine": {
    "gpu": 1,
    "cpu": 1000,
    "ram": 8000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/bin/sh", "-c", "python lilypad_sarsa.py"
        ],
        "Image": "zeath/sarsa:latest@sha256:5a9da0c04f6d1496e48b268de9708f7c071a6e6befc56c5a67d94daa417cd94b"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": ""
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
